<!-- Card Selection Section -->
<div id="card-selection-section">
  <div class="row">
    <div class="col-lg-1 col-md-2 col-sm-1 col-xs-3"></div>
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
      <div class="card">
        <img class="card-img-top" src="../../../assets/images/rsvp.png">
        <div class="card-body">
          <p class="card-text">Let us know if you can make it on our special day!</p>
        </div>
      </div>
    </div>
    <div class="col-lg-1 col-md-2 col-sm-1 col-xs-3"></div>
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
      <div class="card">
        <img class="card-img-top" src="../../../assets/images/rsvp.png">
        <div class="card-body">
          <p class="card-text">Check the Invite List</p>
        </div>
      </div>
    </div>
    <div class="col-lg-1 col-md-2 col-sm-1 col-xs-3"></div>
    <!--<div class="col-md-4 visible-md"></div>-->
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
      <div class="card">
        <img class="card-img-top" src="../../../assets/images/rsvp.png">
        <div class="card-body">
          <p class="card-text">Let us know if you can make it on our special day!</p>
        </div>
      </div>
    </div>
    <div class="col-lg-1 col-md-4 col-sm-1 col-xs-3"></div>
  </div>
</div>

<ul>
  <li *ngFor="let invitee of invitees | async">
    {{ invitee.name }}
  </li>
</ul>
